@font-face {
  font-family: Montserrat;
  src: url("./Fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: Bebas-Neue;
  src: url("./Fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("./Fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf");
}
@font-face {
  font-family: Changa;
  src: url("./Fonts/ChangaOne/ChangaOne-Regular.ttf");
}
@font-face {
  font-family: Onest;
  src: url("./Fonts/Onest/Onest-VariableFont_wght.ttf");
}
@font-face {
  font-family: Fugaz;
  src: url("./Fonts/Fugaz/FugazOne-Regular.ttf");
}
:root {
  --color-0: #ffffff;
  --color-1: #03030c;
  --color-2: #010831;
  --color-3: #071544;
  --color-4: #7e1e2f;
  --color-5: #ad3320;
  --color-6: #fc5328;
  --color-7: #fd8753;
  --color-8: #ffdb97;
}
@keyframes load-in1 {
  0% {
    opacity: 0%;
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes load-in2 {
  0% {
    opacity: 0%;
  }
  5% {
    transform: translateY(100%) translateX(-50%);
    opacity: 0%;
  }
  100% {
    transform: translateY(-11rem) translateX(-50%);
  }
}
@keyframes load-in3 {
  0% {
    top: 110%;
    opacity: 0%;
  }
  100% {
    top: 100%;
  }
}
@keyframes load-in4-1 {
  0% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(0%);
  }
}
@keyframes load-in4-2 {
  0% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(0%);
  }
}
@keyframes load-in4-3 {
  0% {
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(0%);
  }
}
@keyframes load-in4-4 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--color-3);
  position: relative;
}
.navigation-bar {
  position: fixed;
  width: 100vw;
  height: 74px;
  display: block;
  font-family: Montserrat;
  animation-name: load-in1;
  animation-duration: 0.75s;
  z-index: 99;
}
nav {
  height: 40px;
  background-color: var(--color-1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: inherit;
}
.high-bar {
  background-color: var(--color-1);
  padding: 10px 20px 5px 20px;
  z-index: inherit;
}
.low-bar {
  background-color: var(--color-1);
  padding: 5px 20px 10px 20px;
  z-index: inherit;
}
.sidebar-bar {
  display: none;
}
.links-container {
  font-size: 15px;
  font-weight: 300;
  margin-right: 30px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 9999;
}
.logo-1 {
  font-weight: 800;
  font-size: 30px;
  color: white;
  padding-left: 40px;
  font-family: Montserrat;
}
.logo-2 {
  font-weight: 800;
  font-size: 30px;
  margin-right: auto;
  color: white;
  padding: 0px;
  font-family: Roboto;
}
.nav-buttons {
  height: 100%;
  margin-left: 10px;
  font-weight: 400;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
.nav-buttons a {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin-left: 15px;
  border-radius: 15px;
  transition: 0.15s ease-in-out;
}
.active-page {
  font-weight: 800;
  vertical-align: middle;
  background-color: var(--color-3);
  opacity: 95%;
}
.inactive-page:hover {
  background-color: var(--color-8);
  opacity: 95%;
  color: black;
  font-weight: 700;
  transition: 0.15s ease-in-out;
}
#sidebar-active {
  display: none;
}
.open-sidebar-button,
.close-sidebar-button {
  display: none;
}
.headline {
  position: relative;
  display: block;
  height: 750px;
}
.headline-image {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  height: inherit;
  background-image: url("./Images/Calculus_Blackboard.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.headline-image-overlay {
  position: absolute;
  width: 100%;
  height: inherit;
  display: block;
  background-image: linear-gradient(#010831cb, #7e1e2fcb);
  backdrop-filter: blur(2px);
  z-index: 2;
}
.headline-text {
  color: white;
  position: absolute;
  padding: 10px 20px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-11rem);
  width: 80%;
  z-index: 2;
  animation-name: load-in2;
  animation-duration: 0.75s;
}
.main-headline-text {
  font-family: Roboto;
  padding: 0px 0px 0px 10px;
  font-size: 55px;
  font-weight: 800;
}
.main-headline-body {
  font-family: Montserrat;
  font-size: 15px;
  text-align: justify;
  padding: 10px 25vw 0px 10px;
}
.headline-button {
  position: absolute;
  display: block;
  width: 100%;
  height: inherit;
}
.headline-button-text {
  display: block;
  position: absolute;
  text-align: center;
  margin-top: 15px;
  padding: 5px 10px;
  font-family: Montserrat;
  text-decoration: none;
  background-color: var(--color-6);
  border: 5px solid var(--color-5);
  border-radius: 15px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
  transition: 0.25s ease;
}
.headline-button-text:hover {
  transition: 0.25s ease;
  background-color: var(--color-7);
  border: 5px solid var(--color-6);
  font-weight: 700;
}
.wave {
  position: absolute;
  display: block;
  top: 100%;
  transform: translateY(-50%);
  z-index: 6;
  fill: var(--color-5);
  width: 110%;
  right: 0%;
  animation-name: load-in3;
  animation-duration: 0.75s;
}
.article {
  position: relative;
  display: block;
  height: 800px;
  animation-name: load-in3;
  animation-duration: 0.75s;
}
.article-background {
  position: absolute;
  background-color: var(--color-3);
  right: 0%;
  height: inherit;
  width: 100vw;
}
.article-text {
  position: absolute;
  z-index: 7;
  transform: translateY(5rem);
  width: 100%;
}
.article-body strong {
  font-weight: 600;
}
.hidden-article {
  opacity: 0;
  transition: 0.5s ease;
}
.hidden-article.show {
  opacity: 1;
  transition: 0.5s ease;
}
#article-1,
#article-2,
#article-3,
#article-4 {
  height: 150px;
  margin-bottom: 20px;
}
hr.hidden-article {
  border-style: solid;
  border-color: white;
  border-radius: 0.5rem;
  border-width: 0.15rem;
  margin: 1rem 2rem;
}
.hidden-article.standby {
  opacity: 0.05;
  scale: 90%;
  transition: 0.5s ease;
}
.hidden-article.view {
  opacity: 1;
  scale: 100%;
  transition: 0.5s ease;
}
.researcher-image {
  width: 150px;
  height: 150px;
  position: absolute;
}
#researcher1-text,
#researcher2-text,
#researcher3-text,
#researcher4-text {
  position: relative;
  top: 50%;
  transform: translatey(-50%);
  margin-left: calc(150px + 2rem);
}
#researcher1-image,
#researcher2-image,
#researcher3-image,
#researcher4-image {
  background-color: #ffffff;
  left: 2rem;
  position: absolute;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 75px;
}
#researcher1-image img,
#researcher2-image img,
#researcher3-image img,
#researcher4-image img {
  width: 150px;
}
.article-column-container {
  position: relative;
  width: 100%;
  height: auto;
}
.article-container {
  position: relative;
  width: 100%;
  height: auto;
}
.article-column {
  position: absolute;
}
#article-column-1,
#article-column-2 {
  width: 50%;
}
#article-column-2 {
  left: 50%;
}
.container-title {
  font-family: Bebas-Neue;
  letter-spacing: 0.2rem;
  font-size: 30px;
  font-weight: 800;
  color: white;
  display: block;
  padding: 0.5rem 2rem 1rem 2rem;
}
.article-title {
  font-family: Onest;
  font-size: 25px;
  font-weight: 800;
  color: white;
  display: block;
  height: 100%;
  padding: 0.5rem 2rem 0rem 2rem;
  text-align: justify;
}
.article-subtitle {
  font-family: Onest;
  font-size: 15px;
  font-weight: 800;
  color: white;
  display: block;
  height: 15px;
  padding: 0.1rem 2rem;
}
.article-title a {
  text-decoration: none;
  color: white;
}
.article-body {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  color: white;
  display: block;
  padding: 0.3rem 2rem 1rem 2rem;
}
.section1 {
  position: relative;
  height: 450px;
}
.wave1 {
  position: absolute;
  display: block;
  transform: translateY(-50%);
  z-index: 6;
  width: 170%;
  height: auto;
  right: 0%;
  animation-name: load-in3;
  animation-duration: 0.75s;
}
.section1-background {
  height: inherit;
  display: block;
  background-color: var(--color-4);
  z-index: -1;
}
@media (width <= 1000px) {
  .article-column {
    position: relative;
  }
  #article-column-1,
  #article-column-2 {
    width: 100%;
  }
  .article-column-container {
    position: relative;
    width: 100%;
    height: auto;
  }
  .article-container {
    position: relative;
    top: 0.5rem;
    width: 100%;
    height: auto;
  }
  #article-column-2 {
    left: 0%;
  }
  #article-column-3 .article-title {
    padding: 0rem 2rem;
    height: 100%;
  }
  .researcher-title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: relative;
    height: 25px;
  }
  .article-title {
    display: block;
    height: inherit;
    font-size: 25px;
    padding: 0rem 0.5rem 0rem 2rem;
  }
  .article-subtitle {
    display: block;
    height: inherit;
    font-size: 25px;
    padding: 0rem 0.3rem 0rem 0em;
  }
  hr.hidden-article,
  hr.hidden-article.standby,
  hr.hidden-article.view {
    opacity: 1;
  }
}
@media (width <= 768px) {
  @keyframes load-in2 {
    0% {
      opacity: 0%;
    }
    5% {
      transform: translateY(100%) translateX(-50%);
      opacity: 0%;
    }
    100% {
      transform: translateY(-40%) translateX(-50%);
    }
  }
  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    margin-right: 0%;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.804);
    backdrop-filter: blur(2px);
    transition: 0.5s ease;
  }
  .sidebar-bar {
    display: block;
    width: 175px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .nav-buttons {
    box-sizing: border-box;
    height: auto;
    width: 60%;
    padding: 10px 10px;
    margin-left: 0%;
    flex-direction: column;
    align-items: flex-start;
  }
  .close-sidebar-button {
    padding: 4px 5px 1px 5px;
    margin: 16px 15px 9px 25px;
    display: block;
    color: white;
  }
  .open-sidebar-button {
    position: absolute;
    padding: 4px 5px 0px 5px;
    margin: 21px 35px 19px 15px;
    display: block;
    color: white;
  }
  .close-sidebar-button:hover {
    background-color: var(--color-8);
    border-radius: 15%;
    transition: 0.25s ease-in-out;
    color: black;
  }
  .open-sidebar-button:hover {
    background-color: var(--color-8);
    color: black;
    border-radius: 15%;
    transition: 0.25s ease-in-out;
  }
  #sidebar-active:checked ~ .links-container {
    right: 0;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .headline,
  .headline-image,
  .headline-image-overlay {
    height: 650px;
  }
  .headline-text {
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-40%);
  }
  .main-headline-text {
    font-size: 45px;
    padding: 0px 0px 10px 10px;
  }
  .main-headline-body {
    font-size: 13px;
  }
  .article-title,
  .article-subtitle {
    font-size: 15px;
  }
  .article-body {
    font-size: 10px;
  }
  .article,
  .article-background {
    height: 600px;
  }
  .container-title {
    font-size: 27.5px;
    padding: 0.5rem 1.5rem;
  }
  hr.hidden-article {
    margin: 0.5rem 1.5rem;
  }
  .article-container {
    position: relative;
    top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    height: auto;
  }
  #article-column-3 .article-title {
    padding: 0rem 1.5rem 0rem 1.5rem;
    height: 100%;
  }
  .article-title {
    display: block;
    font-size: 17.5px;
    height: 17.5px;
    padding: 0rem 0.5rem 0.5rem 1.5rem;
  }
  .article-subtitle {
    display: block;
    font-size: 17.5px;
    height: 17.5px;
    padding: 0rem 0.3rem 0rem 0rem;
  }
  .article-body {
    font-size: 12.5px;
    padding: 0rem 1.5rem 0rem 1.5rem;
  }
  #article-1,
  #article-2,
  #article-3,
  #article-4 {
    height: 100px;
    margin-bottom: 20px;
  }
  .article-column {
    position: relative;
  }
  #article-column-1,
  #article-column-2 {
    width: 100%;
  }
  #article-column-2 {
    left: 0%;
  }
  .researcher-image {
    width: 100px;
    height: 100px;
    position: absolute;
  }
  #researcher1-text,
  #researcher2-text,
  #researcher3-text,
  #researcher4-text {
    position: relative;
    top: 50%;
    transform: translatey(-50%);
    margin-left: calc(100px + 1.5rem);
  }
  #researcher1-image,
  #researcher2-image,
  #researcher3-image,
  #researcher4-image {
    background-color: #ffffff;
    left: 1.5rem;
    position: absolute;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 75px;
  }
  #researcher1-image img,
  #researcher2-image img,
  #researcher3-image img,
  #researcher4-image img {
    width: 100px;
  }
  .headline-button-text,
  .headline-button-text:hover {
    font-size: 17.5px;
  }
  .wave {
    width: 1250px;
    right: 0%;
    overflow-x: hidden;
  }
}
@media (width <= 550px) {
  nav {
    height: 30px;
  }
  .open-sidebar-button,
  .close-sidebar-button {
    display: block;
    transform-origin: center;
    transform: scale(75%);
  }
  .open-sidebar-button {
    margin-right: 20px;
  }
  .close-sidebar-button {
    margin-left: 19px;
  }
  .sidebar-bar {
    top: 9%;
  }
  .logo {
    font-size: 20px;
    padding: 20px 20px 20px 25px;
  }
  .nav-buttons {
    position: absolute;
    top: 9%;
  }
  .nav-buttons a {
    font-size: 15px;
    padding: 5px 15px 5px 15px;
    margin-left: 5px;
  }
  .headline,
  .headline-image,
  .headline-image-overlay {
    height: 650px;
  }
  .headline-text {
    padding: 0px;
  }
  .main-headline-text {
    font-size: 35px;
    padding: 0px 0px 10px 10px;
  }
  .main-headline-body {
    font-size: 10px;
  }
  .container-title {
    font-size: 25px;
  }
  .researcher-title {
    display: block;
  }
  .article-title {
    font-size: 15px;
    padding: 0rem 0.5rem 0rem 1.5rem;
  }
  .article-subtitle {
    font-size: 12.5px;
    padding: 0rem 0.5rem 0.5rem 1.5rem;
  }
  .article-body {
    padding-top: 0.5rem;
    font-size: 10px;
  }
  .headline-button-text,
  .headline-button-text:hover {
    font-size: 15px;
  }
  #wave {
    width: 900px;
  }
  .article {
    height: 500px;
  }
  #article-1,
  #article-2,
  #article-3,
  #article-4 {
    height: 80px;
    margin-bottom: 30px;
  }
  .researcher-image {
    width: 100px;
    height: 100px;
    position: absolute;
  }
  #researcher1-text,
  #researcher2-text,
  #researcher3-text,
  #researcher4-text {
    position: relative;
    top: 50%;
    transform: translatey(-50%);
    margin-left: calc(80px + 1rem);
  }
  #researcher1-image,
  #researcher2-image,
  #researcher3-image,
  #researcher4-image {
    background-color: #ffffff;
    position: absolute;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 75px;
  }
  #researcher1-image img,
  #researcher2-image img,
  #researcher3-image img,
  #researcher4-image img {
    width: 80px;
    margin: 7px 10px;
  }
}
